/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar-nav .nav-item > .nav-link {
  color: rgba(229, 85, 91, 0.75);
}
.navbar-nav .nav-item > .nav-link.active  {
  color: rgba(255,255,255,0.75);/* rgba(229,85,91,1.0);*/
  /* color: rgba(223, 173, 175,0.8); */
  /* filter: brightness(1.1); */
}

.navbar-dark .navbar-nav nav-link:hover, .navbar-dark .navbar-nav nav-link:focus {
  /* backdrop-filter: brightness(0.2) !important; */
  color: rgba(255,255,255,0.75) !important;
  /* filter: brightness(1.2) !important; */
}

.navbar .container {
  width: auto;
}

.table {
  color: rgba(255,255,255,0.95) !important;
  width: 100%;
}

.table > thead {
  color: rgba(224, 186, 16, 0.95);
}

td{
  border:1px solid #000;
}

tr td:last-child{
  width:1%;
  white-space:nowrap;
}

.table-container
{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.text-muted {
  color: rgba(255,255,255,0.65) !important;
  /* filter: brightness(0.8) !important; */
}

.navbar, .footer, main {
  backdrop-filter: blur(1px);
  padding: 1rem;
  /*background: rgba(9,49,69,0.50);*/
  border-radius: 3rem;
  box-shadow: 4px 6px 18px 8px rgba(0, 0, 0, 0.2);
  background: radial-gradient(ellipse at center, rgba(13,61,86,0.66) 0%, rgba(9,49,69,0.33) 100%); /* Darker and less transparent in the middle */
  /* background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  /* position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #DEDEDE;
  transition: 0.2s;
  display: flex;
  width: calc(100vw - 100px); */
  width: calc(100% - 102px);
  margin: 1rem 51px 1.5rem 51px;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

body {
  background-color: #093145;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%230c374d' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

.centered-box-50 {
  width: calc(50vw - ((100vw - 100%)/2));
  height: 0;
  padding-bottom: calc(50vw - ((100vw - 100%)/2));
}

a {
  color: rgba(229, 85, 91, 0.85);
  /* filter: hue-rotate(-50deg); */
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: rgba(255,255,255,0.85);
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.btn-primary {
  color: rgba(255,255,255,0.95);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: rgba(255,255,255,0.95);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 15px;
}
/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  border-radius: 2rem !important;
  box-shadow: 4px 6px 18px 8px rgba(0, 0, 0, 0.2);
  /* backdrop-filter: brightness(1.05) ; */
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by a bit more than footer height */
  margin-bottom: 140px;
  color: rgba(255,255,255,0.95);/*color: rgba(229,85,91,1);*/
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  width: min-content;
  margin: 0 auto;
  /* filter: hue-rotate(20deg); */
}
.footer {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  box-shadow: 4px 6px 18px 8px rgba(0, 0, 0, 0.25);
}
